<p id="notice"><%= notice %></p>

<h1>Listing Pending Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_requests.each do |pending_request| %>
      <tr>
        <td><%= link_to 'Show', pending_request %></td>
        <td><%= link_to 'Edit', edit_pending_request_path(pending_request) %></td>
        <td><%= link_to 'Destroy', pending_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pending request', new_pending_request_path %>
